.formBox {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-weight: bold;
}
.skillsBox{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  
}
.title{
  display: flex;
  justify-content: space-evenly
}

.modal-dialog{
  max-width: 700px !important;
}

@import url('https://fonts.googleapis.com/css?family=Uncial+Antiqua');

.dwarven{
  font-family: 'Uncial Antiqua', cursive;
  font-size: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
 